<ul>
  {% for item in comments %}
    <li>
      <div>{{ item.comment }}</div>
      <span>Name: {{ item.username }}</span>
      <span>Date: {{ item.date }}</span>
      {% if item.username == user %}
        <span class="edit" data-id="{{ item.id }}">
          <a href="">edit</a>
        </span>
        <span class="del" data-id="{{ item.id }}">
          <a href="">delete</a>
        </span>
      {% endif %}
      {% if item.username != user %}
        <span class="reply" 
          data-user="{{ item.username }}" 
        >
          <a href="">reply</a>
        </span>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% if lastPage > 0 %}
<a class="btn-prev" href="/page/{{ lastPage }}">prev</a>
{% endif %}
{% if nextPage > 0 %}
<a class="btn-next" href="/page/{{ nextPage }}">next</a>
{% endif %}

