body {
  font-family: arial;
}
a {
  text-decoration: none;
}
.content {
  margin: 10px 10px;
}
.btn {
  background-color: #38BCE8;
  color: #fff;
  border: 0;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.btn:hover {
  background-color: #3CCBFF;
}
input[type="text"], input[type="password"] {
  display: block;
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 5px;
  margin: 10px 0;
}
body .warn {
  border: 1px solid #FC1023;
}
.error {
  color: #FC1023;
  font-size: 14px;
  display: block;
}
textarea {
  width: 400px;
  height: 100px;
}
.logout_btn {
  text-decoration: underline;
  color: #000;
  font-size: 14px;
}
ul {
  padding: 0;
  list-style: none;
}
.comments li {
  margin: 20px 0;
}
.comments span {
  font-size: 12px;
}
.msgs {
  font-size: 12px;
}